<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>YouTube Downloader</title>
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
</head>
<body>

  <div class="row">
    <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
      <a href="http://www.BannerFans.com"><img src="http://imagizer.imageshack.com/img907/849/bUJdcf.jpg" border="0" width="728" height="90" alt="BannerFans.com" /></a>
    </div>
  </div>

  <br /><br />
  {{ if eq .Setup false}}
    <div class="row">
      <div class="col-sm-6 col-l-6 col-md-6">
          <div class="form-group"> 
            <div class="col-sm-offset-6 col-sm-10">
               <button id="setup_btn" class="btn btn-default">Run Setup</button>
              <br />
              <div id="setup_status"></div>
            </div>
          </div>
      </div>
    </div>
     <br />
  {{ end }}

  <div class="row">
    <div class="col-sm-6 col-l-6 col-md-6">
        <div class="form-group"> 
          <div class="col-sm-offset-6 col-sm-10">
             <button id="close_btn" class="btn btn-default">Terminate Server</button>
          </div>
        </div>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
      <form role="form">
        <div class="form-group">
          <label for="mp3_path">MP3 Download Folder Path:</label>
          <input style="width:50%" type="text" name="mp3_path" id="mp3_path" value="{{ .Mp3Path }}"><span><i id="mp3_icon" class=""></i></span>
        </div>
        <button id="mp3_path_btn" class="btn btn-default">Change Or Validate MP3 Path</button>
      </form>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
      <form role="form">
        <div class="form-group">
          <label for="video_path">Video Download Folder Path:</label>
          <input style="width:50%" type="text" name="video_path" id="video_path" value="{{ .VideoPath }}"><span><i id="video_icon"></i></span>
        </div>
        <button id="video_path_btn" class="btn btn-default">Change Or Validate Video Path</button>
      </form>
    </div>
  </div>

  <br /><br />
  <div class="row">
    <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
      <div id="download_mode_form" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="url_mode" checked>SINGLE DOWNLOAD
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="file_mode">BATCH DOWNLOAD
        </label>
      </div>
    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
      <div id="mode_form" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="mp3_mode" checked>MP3 MODE
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="video_mode">VIDEO MODE
        </label>
      </div>
    </div>
  </div>

  <br />
  <br />
  {{ if eq .ValidUrl false}}
    <div class="row">
      <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
        <h5 class="pull-right" style="color:red;">Url(s) entered are not valid youtube url(s)</h5>
      </div>
    </div>
  {{ end }}
  <div id="url_div" class="row">
    <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="usr">URL:</label>
          <input type="text" class="form-control" name="url" id="url">
          <br />
          <button id="download_btn" class="btn btn-default pull-right">Download Mp3</button>
        </div>
      </form>
    </div>
  </div>

  <div id="batch_div" style="display: none;" class="container-fluid col-centered">
    <div class="row">
      <div class="col-sm-6 col-l-6 col-md-6 col-md-offset-3 col-l-offset-3 col-sm-offset-3">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="usr">URLS:</label>
            <textarea type="text" class="form-control" name="urls" id="urls">Each Url Should Be Seperated With a Newline</textarea>
            <br />
            <button id="downloads_btn" class="btn btn-default pull-right">Download Mp3s</button>
          </div>
        </form>
        </div>
    </div>
  </div>
</body>

<script src="static/js/jquery-2.2.0.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
  var downloadConfigs = {
    'SingleMode' : true,
    'MP3Mode' : true,
  };
  $(function() {
    $('#download_mode_form').change(function(){
      if($('#url_mode').is(':checked')){
        $('#batch_div').hide();
        $('#url_div').show();
        downloadConfigs['SingleMode'] = true;
      } else{
        $('#batch_div').show();
        $('#url_div').hide();
        downloadConfigs['SingleMode'] = false;
      }
    });
    
    $('#mode_form').change(function(){
      if($('#mp3_mode').is(':checked')){
        $('#downloads_btn').text('Download Mp3s')
        $('#download_btn').text('Download Mp3')
        downloadConfigs['MP3Mode'] = true;
      } else{
        $('#downloads_btn').text('Download Videos')
        $('#download_btn').text('Download Video')
        downloadConfigs['MP3Mode'] = false;
      }
    });

    $("#setup_btn").click(function() {
        $('#setup_status').text("Setup is running, this proccess takes a while, please be wait.  Status will switch to complete when done");
      $.post( "/run_setup", {}, function(data) {
        var res = data;
        if (res == "ok") {
          $('#setup_status').text("Setup Complete");
          $("#setup_btn").prop("disabled",true);
        }
      });
    });
    
    $("#close_btn").click(function() {
      $.post( "/close_server", {}, function(data) {
      });
    });

    $("#mp3_path_btn").click(function() {
      var path = $('#mp3_path').val();
      $.post( "/validate_mp3_path", {'folderpath': path}, function(data) {
        var res = data;
        if (res == "ok") {
          $("#mp3_icon").addClass("glyphicon glyphicon-ok");
        } else {
          $("#mp3_icon").addClass("glyphicon glyphicon-remove");
        }
      });
    });

    $("#video_path_btn").click(function() {
      var path = $('#video_path').val();
      $.post( "/validate_video_path", {'folderpath': path}, function(data) {
        var res = data;
        if (res == "ok") {
          $("#video_icon").addClass("glyphicon glyphicon-ok");
        } else {
          $("#video_icon").addClass("glyphicon glyphicon-remove");
        }
      });
    });

    $("#download_btn").click(function() {
      var url = $("#url").val()
      $.post( "/download", {"url": url, "SingleMode": downloadConfigs["SingleMode"], "MP3Mode": downloadConfigs["MP3Mode"]}, function(data) {
        var res = data;
        if (res == "ok") {
        }
      });
    });

    $("#downloads_btn").click(function() {
      var url = $("#urls").val()
      $.post( "/download", {"url": url, "SingleMode": downloadConfigs["SingleMode"], "MP3Mode": downloadConfigs["MP3Mode"]}, function(data) {
        var res = data;
        if (res == "ok") {
        }
      });
    });


  });
</script>

</html>